@import "assets/stylesheets/bootstrap";
$padding:20px;
$invalid-color: #FA787E;
$valid-color: #78FA89;

@mixin padding-top{
    padding-top:$padding;
}

@mixin padding-side {
    padding: inherit $padding inherit $padding;
}

.container{
    @include padding-top;
    .panel {
        @include padding-top;
            .row {
                @include padding-side;
            }
            .table {
                @include padding-top;
            }
    }
}

.ng-invalid.ng-dirty {
    border-color: $invalid-color;
}

.ng-valid.ng-dirty {
    border-color: $valid-color;
}