<div class="panel panel-default">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <label>Display</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>Function</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="email in generalCtrl.emailList">
            <td>{{email.email}}</td>
            <td><a ng-click="generalCtrl.deleteEmail(email.index)" role="button">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>